body {
	transition: 0.5s;
}

#badan {
	width: 0; 
	height: 0; 
	z-index: 99999;
	background-color: rgba(33,56,62,0.6);
}

.sidebar {
	width: 4%;
	height: 100%;
	background-color: #008A85;
    z-index: 99999999;
}

#icon {
	display: block;
  	padding: 10px;
  	transition: all 0.3s ease;
  	color: white;
  	margin-right: 1px;
}

.side-menu {
	display: block;
	padding: 6px;
  	transition: all 0.3s ease;
  	color: white;
  	margin-right: 1px;
}

#mySidenav {
	color: white;
}

#isiMenu {
	display: none;
}

#isiSearch {
	display: none;
}

.txtkategori {
	margin-left: 18px;
	font-family: Karla;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0.02em;
	text-align: left;
}

#menuSearch {
	transition: 0.7s;
	width: 0; 
	height: 100%; 
    z-index: 99999999;
	background-color: white;
}

.judul {
	color: white;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 10px;
	margin-right: 30px;
	font-family: Encode Sans;
	font-size: 33px;
	font-style: normal;
	font-weight: 400;
	line-height: 64px;
	letter-spacing: 0em;
	text-align: left;
}

.judulSomeah{
	font-weight: bold;
}

.kembaliS {
	margin-top: 10px;
	margin-left: 12px;
	font-family: Encode Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
}

.bttnMenu {
	font-family: Encode Sans;
	width: 78%; 
	margin-left: 30px;
}

#actived1, #actived2, #actived3, #actived4, #actived5, #actived6 {
	text-align: left; 
	color: white;
}

.mg-17{
	margin: 17px;
}

#inputBrand{
	border: 0;
	color: #A0A4A8
}

.hsearch {
	margin-left: 60px; 
	margin-top: 18px;
}

.menu {
	width: 0;
	height: 100%;
	background-color: #008A85;
	transition: 0.7s;
	margin-left: 4%;
    z-index: 99999999;
}

#active {
  	background: #2025282B;
}

#profile {
	bottom: 35px;
	position: absolute;
	width: 40px;
	height: 40px;
	margin-top: 100px;
}
.paragraph{
	color: gray;
}
.head-bold{
	font-weight: bold;
}